


<h1>Contact Me</h1>

<%= form_with model: @contact, local: true do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div>
    <%= form.submit "Send Message" %>
  </div>

  <p>Find me in app/views/contacts/new.html.erb</p>
<% end %>
